@import url(https://fonts.google.com/specimen/Poppins);

:root {
--top-red: hsl(0, 78%, 62%);
--left-cyan: hsl(180, 62%, 55%);
--bottom-orange: hsl(34, 97%, 64%);
--right-blue: hsl(212, 86%, 64%);
--verylight-gray: hsl(0, 0%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: var(--verylight-gray);
  min-height: 100vh;
}

/* Top Text */
.top__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.top-header {
  font-weight: 200;
  margin-bottom: 15px;
  color: gray;
}


.bottom-header {
  margin-bottom: 30px;
  color: rgb(51, 47, 82);
  opacity: 0.9;
}

.top-container, p {
  width: 450px;
  text-align: center;
  margin-bottom: 50px;
  color: gray;
}

/* Top Text End */

/* Four Cards */

.bottom--container {
  display: grid;
  grid-template-columns: repeat(3, 300px); 
  grid-template-rows: 200px 100px 100px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

#box {
  width: 300px;
  height: 260px;
  box-shadow: 10px 10px 19px -10px rgba(0,0,0,0.75);
  border-radius: 10px;
  background-color: white;
}

#box img {
  float: right;
  margin-right: 40px;
}

.container1 {
  border-top: 4px solid var(--left-cyan);
  grid-row-start: 1;
  grid-row-end: 4;
}

.container2 {
  border-top: 4px solid var(--top-red);
}

.container3 {
  border-top: 4px solid var(--bottom-orange);
  margin-top: -25px;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container4 {
  border-top: 4px solid var(--right-blue);
  grid-row-start: 1;
  grid-row-end: 4;
  
}

.bottom--container h2 {
  color: gray;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#box p {
  color: gray;
  width: 250px;
  line-height: 25px;
  text-align: left;
  margin-left: 20px;
}

/* Four Cards End */


footer {
  margin-top: 30px;
}


.attribution { 
  margin-top: 100px;
  width: auto;
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); }

@media (max-width: 991px) {
  .bottom--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .container3 {
    border-top: 4px solid var(--bottom-orange);
    margin-top: 10px;
      
  }

  .attribution { 
    margin-top: 70px;
    width: auto;
    font-size: 11px; 
    text-align: center; 
  }

}

@media (max-width: 480px) {
  .top-container, p {
    width: 320px;
    text-align: center;
    margin-bottom: 20px;
    color: gray;
    font-size: 1em;
  }
  .top-header {
    font-weight: 200;
    margin-bottom: 15px;
    color: gray;
    font-size: 27px;
  }
  
  
  .bottom-header {
    margin-bottom: 30px;
    font-size: 27px;
    color: rgb(51, 47, 82);
    opacity: 0.9;
  }
}


















